@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#myBrand {
    font-weight: 700;
    font-size: 40px;
    color: #770606;
    /*text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);*/
}

#myNav {
    background-color: #ffffff;
    box-shadow: 0 8px 8px -6px rgb(0, 0, 0,.6);
    min-height: 10vh;
}

.navbar-light .navbar-toggler {
    color: #ffffff00;
    border-color: #ffffff00;
  }

.navbar-toggler span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #770606;
    margin: 4px 0;
}

#menu .nav-item {
    padding-left: 0px;
    padding-right: 8px;
}

#menu .nav-link {
    color: #770606;
    font-weight: 500;
    font-size: 20px;
    padding-right: 8px;
    padding-left: 8px;
}

#home {
    background-color: #770606;
    height: 100%;
}

#about {
    background-color: #e6e2e2;
    height: 100%;
}

#contact {
    background-color: #e6e2e2;
    height: 100%;
}

.myBox {
    height: 100vh;
    padding-top: 50vh;
    color: #ffffff;
    text-align: center;
}

.myBox h1 {
    font-weight: 500;
    font-size: 60px;
}

.myBox p {
    font-weight: 400;
    font-size: 20px;
}

#home .container {
    height: 100vh;
}

#navJS a:hover{
    transition: transform 400ms;
    transform: translateY(-5px);
    color:#2e0202;
    font-weight: 700;
}

#navJS .active {
    color:#2e0202;
    font-weight: 700;
}