.box {
    height: 1000px;
    background-color: grey;
    margin-bottom: 15px;
}

.box2 {
    background-color: grey;
    color: black;
    border: 2px solid black;
}

h2 {
    padding: 10px;
}

p {
    padding: 10px;
}