* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin: 15px;
}

.section-title {
    border: 1px solid black;
    border-top: 0px;
    border-right: 0px;
    background-color: red;
    padding: 2px;
    color: white;
    width: 150px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#beef {
    background-color: blue;
}

#sushi {
    background-color: moccasin;
    color: black;
}

p {
    margin-top: 40px;
    font-family: Helvetica;
    color: black;
}


section {
    border: 1px solid black;
    background-color: gray;
    padding: 4px;
    min-height: 150px;
    position: relative;
    margin-left: 15px;
    margin-bottom: 15px;
}

.row {
    width: 100%;
}


@media (min-width: 992px) {
    .col-desktop-1, .col-desktop-2, .col-desktop-3, .col-desktop-4, .col-desktop-5, .col-desktop-6, .col-desktop-7, .col-desktop-8, .col-desktop-9, .col-desktop-10, .col-desktop-11, .col-desktop-12 {
      float: left;
    }
    
    .col-desktop-1 {
      width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-1, .col-tablet-2, .col-tablet-3, .col-tablet-4, .col-tablet-5, .col-tablet-6, .col-tablet-7, .col-tablet-8, .col-tablet-9, .col-tablet-10, .col-tablet-11, .col-tablet-12 {
      float: left;
    }
    .col-tablet-6 {
      width: 45%;
    }
    
    .col-tablet-12 {
      width: 91.7%;
    }
}

@media (max-width: 767px) {
    .col-mobile-1, .col-mobile-2, .col-mobile-3, .col-mobile-4, .col-mobile-5, .col-mobile-6, .col-mobile-7, .col-mobile-8, .col-mobile-9, .col-mobile-10, .col-mobile-11, .col-mobile-12 {
      float: left;
    }
    .col-mobile-1 {
      width: 95%;
    }
}



